<!DOCTYPE html>
<html lang="en">
    <head>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>CTR Scores</title>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='pagestyle.css')}}">
        <script src="{{url_for('static', filename='myscript.js')}}"></script>
    </head>

    <body>
        <div class='container'>
        <h1>CTR Scores</h1>

        {% for playernumber, names in players.items() %}
            <h3> {{names}}</h3>
                {% for label, command in commands.items() %}
                <button class="command command-{{ command }}{{names}} button" value="{{ command }}-{{playernumber}}">
                    {{ label }}
                </button>
                {% endfor %}
        {% endfor %}
        </div>
    </body>
</html> 