<!DOCTYPE html>
<html lang="en">
    <head>        
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        

        <title>CTR Scores</title>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">OBS Helper</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/">Setup</a></li>
                <li><a href="/ctrscores">CTR Scores</a></li>
                <li class="active"><a href="/media">Media</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Setup</a></li>
            <li><a href="/ctrscores">CTR Scores</a></li>
            <li class="active"><a href="/media">Media</a></li>
          </ul>

          <div class="container">

          <ul class="collapsible expandable">
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">ondemand_video</i>Video</div>
              <div class="collapsible-body">
                <span>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s10">
                        <input placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="video_input" type="text" class="validate video-input-field">
                        <label for="video_input">URL Video</label>
                      </div>
                      <div class="input-field col s2">
                        {% if videostatus == 0 %}
                              <button class="command btn-small red accent-3 center videostatus-class update-btn-videos" type="submit" name="submit_video_error" value="{{currentpage}}/error">
                                  <i class="material-icons videostatus-icon">error</i>
                              </button>
                          {% elif videostatus == 2 %}
                              <button class="command btn-small blue accent-3 center videostatus-class update-btn-videos" type="submit" name="submit_video_success" value="{{currentpage}}/success">
                                  <i class="material-icons videostatus-icon">sync</i>
                              </button>
                          {% else %}
                              <button class="command btn-small green accent-3 center videostatus-class update-btn-videos" type="submit" name="submit_video_success" value="{{currentpage}}/success">
                                  <i class="material-icons videostatus-icon">done</i>
                              </button>
                          {% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s6">
                        <button class="command waves-effect waves-light btn-small orange accent-3 center update-btn-videos submit-btn-videos" type="submit" name="submit_video" value="{{currentpage}}/submit_video">
                          <i class="material-icons center">file_upload</i>
                        </button>
                        <button class="command waves-effect waves-light btn-small orange accent-3 center update-btn-videos" type="" name="submit_video_borrar" value="{{currentpage}}/delete_video">
                          <i class="material-icons center">delete</i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </span>
            </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">cloud_upload</i>Upload</div>
                <div class="collapsible-body">
                  <span>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <form action="#">
                            <div class="file-field input-field col s12">
                              <div class="btn">
                                <span>File</span>
                                <input type="file" class="file-input-field" id="file-upload" accept="image/*, video/*">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                          </form>
                        </div> 
                      </form>
                    </div> 
                      <div class="input-field col s8">
                        <button class="command waves-effect waves-light btn-small orange accent-3 center update-btn-files submit-btn-files" type="submit" name="submit_file" value="{{currentpage}}/submit_file">
                            <i class="material-icons center">file_upload</i>
                        </button>
                        <button class="command waves-effect waves-light btn-small orange accent-3 center update-btn-files" type="submit" name="delete_file" value="{{currentpage}}/delete_file">
                          <i class="material-icons center">delete</i>
                        </button>
                      </div>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>                   
                
    </body>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.js')}}"></script>
    <script src="{{url_for('static', filename='js/media.js')}}"></script>
    <script src="{{url_for('static', filename='js/common.js')}}"></script>
</html> 